@using SportApp.Common
@model SportApp.Web.ViewModels.ListWithVideosViewModel
@{
    this.ViewData["Title"] = "Videos";
}

@if (this.User.IsInRole(GlobalConstants.TrainerRoleName))
{
    <a class="btn btn-primary" asp-area="" asp-controller="Videos" asp-action="Add">Add Video</a>
}
<br />
<div class="row">
    @foreach (var video in this.Model.Videos)
    {
        <div class="media col-md-3">
            <video id="videoPlayer" src="@Url.Content($"~/videos/{video.Id}.{video.Extension}")" controls width="300" height="300" loop/>           
        </div>
        <div class="media col-md-3">
            <h5 class="mt-0">
                @video.Name
            </h5>
            @if (this.User.IsInRole("Administrator"))
            {
                <form asp-action="Delete" asp-route-id="@video.Id">
                    <br>
                    <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want  to delete recipe: @video.Name ?')">
                        Delete
                    </button>
                </form>
            }
        </div>
    }
</div>
